<div class="modal-header">
	<h4 class="modal-title">活動詳細</h4>
	<button
		type="button"
		class="btn-close"
		aria-label="Close"
		(click)="activeModal.dismiss()"
	></button>
</div>
<div class="modal-body">
	<h3>{{ bill.name }}</h3>
	<p>{{ bill.memo }}</p>
	<hr />
	<ol class="list-group">
		<li
			*ngFor="let item of bill.list"
			class="list-group-item d-flex justify-content-between align-items-start"
		>
			<div class="ms-2 me-auto">
				<div>
					<i class="fa-fw fa-solid fa-shapes"></i>
					{{ item.item }}
				</div>
				<div>
					<i class="fa-fw fa-solid fa-user"></i>
					{{ item.user }}
				</div>
			</div>
			<span class="text-primary">{{ item.money | currency: 'TWD' : 'symbol' : '.0' }}</span>
		</li>
	</ol>
</div>
<div class="modal-footer">
	<div class="hstack gap-3">
		<div>平均：{{ avgMoney | currency: 'TWD' : 'symbol' : '.0' }}</div>
		<div>總金額：{{ bill.totalMoney | currency: 'TWD' : 'symbol' : '.0' }}</div>
	</div>
</div>
