<div class="relative flex flex-col gap-3 p-3">
	<div class="flex items-center justify-between">
		<div>
			<h1>帳單</h1>
		</div>

		<div>
			<p-button icon="pi pi-plus" [rounded]="true" (onClick)="billCreateCtrl.show()"></p-button>
		</div>
	</div>

	<div class="grid grid-cols-12 gap-3">
		@for (bill of billList; track $index) {
			<div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3">
				<p-card styleClass="w-full cursor-pointer" [routerLink]="['/bill', bill.id]">
					<ng-template #title>
						<div class="overflow-hidden truncate">
							{{ bill.name }}
						</div>
					</ng-template>

					<ng-template #subtitle>
						<i class="fa-fw fa-solid fa-calendar"></i>
						<span>{{ bill.createdAt | date: 'yyyy-MM-dd' }}</span>
					</ng-template>

					<ng-template #footer>
						<div class="text-end">
							<p-button
								icon="pi pi-trash"
								severity="danger"
								size="small"
								[rounded]="true"
								[outlined]="true"
								(onClick)="$event.stopPropagation(); deleteBill(bill.id)"
							></p-button>
						</div>
					</ng-template>
				</p-card>
			</div>
		} @empty {
			<div class="col-span-12">
				<div class="text-center">
					<p-button
						icon="pi pi-plus"
						label="新增你的第一筆帳單"
						severity="primary"
						(onClick)="billCreateCtrl.show()"
					/>
				</div>
			</div>
		}
	</div>
</div>

@if (billCreateCtrl.isShow) {
	<yo-bill-create (hide)="billCreateCtrl.hide()" />
}
