<div class="relative">
	<div class="flex flex-wrap items-center gap-3 border-b p-3">
		<p-button icon="pi pi-angle-left" size="small" [outlined]="true" [routerLink]="['/bill']" />
		<h1 class="text-xl font-bold">{{ bill?.name }}</h1>
	</div>
	@if (bill) {
		<div class="p-3">
			<p-tabs value="expense">
				<p-tablist>
					<p-tab value="expense">付款資訊</p-tab>
					<p-tab value="settlement">結餘</p-tab>
				</p-tablist>

				<p-tabpanels>
					<p-tabpanel value="expense">
						<div class="flex flex-col gap-3">
							<div class="text-center">
								<p-button
									icon="pi pi-plus"
									label="新增花費"
									severity="primary"
									(onClick)="billExpenseEditCtrl.show({ billId: bill.id })"
								/>
							</div>

							@for (expense of bill.expenseList; track $index) {
								<p-card
									(click)="
										billExpenseEditCtrl.show({
											billId: bill.id,
											expenseId: expense.id,
											isEdit: true
										})
									"
								>
									<ng-template #title>
										<div>
											{{ expense.name }}
										</div>
									</ng-template>

									<ng-template #subtitle>
										<i class="fa-fw fa-solid fa-clock"></i>
										<span>{{ expense.occurrenceTime | date: 'yyyy-MM-dd' }}</span>
									</ng-template>

									<p>
										<i class="fa-fw fa-solid fa-coins"></i>
										{{ 'NT$ ' + expense.amount }}
									</p>

									<p>{{ expense.memo }}</p>

									<div class="flex flex-col gap-2"></div>

									<ng-template #footer>
										<div class="flex justify-end gap-2">
											<p-button
												icon="pi pi-trash"
												severity="danger"
												size="small"
												[rounded]="true"
												[outlined]="true"
												(onClick)="$event.stopPropagation(); deleteExpense(bill, expense)"
											></p-button>
										</div>
									</ng-template>
								</p-card>
							}
						</div>
					</p-tabpanel>

					<p-tabpanel value="settlement">
						<div class="flex flex-col gap-3">
							@for (balance of bill.balanceList; track $index) {
								<p-card>
									{{ userDict[balance.fromUserId] }} 需支付 {{ userDict[balance.toUserId] }} NT${{
										balance.amount
									}}
								</p-card>
							}
						</div>
					</p-tabpanel>
				</p-tabpanels>
			</p-tabs>
		</div>
	} @else {
		<div class="p-3 text-center text-red-500">無法取得帳單資訊</div>
	}
</div>

@if (billExpenseEditCtrl.isShow) {
	<yo-bill-expense-edit
		[data]="billExpenseEditCtrl.data"
		(hide)="billExpenseEditCtrl.hide(); getBillDetail(billId)"
	></yo-bill-expense-edit>
}
