<div class="container vstack">
	<div class="hstack">
		<h1>給我錢</h1>
		<button class="btn btn-outline-primary" (click)="onCreateOpen()">+</button>
	</div>

	<div class="row g-2">
		<div
			*ngFor="let bill of billList$ | async"
			class="col-md-6 col-lg-4 col-xl-3"
		>
			<div class="card">
				<div class="card-header hstack justify-content-between">
					<div>{{ bill.name }}</div>
					<button
						class="btn btn-outline-danger btn-sm"
						(click)="deleteBill(bill)"
					>
						X
					</button>
				</div>
				<div class="card-body">
					<p><small>人數： 15</small></p>
					<p><small>項目： 20</small></p>
					<p>
						<small
							>總金額：{{ 1234679 | currency : "TWD" : "symbol" : ".0" }}</small
						>
					</p>
				</div>
				<div class="card-footer text-end text-primary">
					<small>{{ 1234679 | currency : "TWD" : "symbol" : ".0" }}</small>
				</div>
			</div>
		</div>
	</div>
</div>
