/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

body {
	height: 100vh;
	overflow: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	// border-radius: 10px;
	// border: 1px solid #bbb;
	background: #eee;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	// border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #666;
}
